*{
  margin: 0 ;
  padding: 0;
}

body{
  
  background: url(https://img2.akspic.ru/previews/4/1/7/4/14714/14714-tuman-fon-dymka-tekstura-atmosfera-550x310.jpg);
  background-size: cover;
  justify-content:center;
}

  

 .code, .summaru, .education{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 15px;
  display: flex;
justify-content: center;
vertical-align: middle;
position: relative;
left: 700px;
bottom: 305px;
}
.skills, .contacts, .english{
 
justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 15px;
  position: relative;
  left: 300px;
}
.skills{
  border: 1px rgb(233, 142, 23) solid;
  border-radius: 20px;
  padding: 10px;
  max-width: 350px;
  max-height: 200px;
margin: 10px;


}
.code{
  border: 1px rgb(10, 232, 55) solid;
  border-radius: 20px;
  padding: 10px;
  max-width: 350px;
  margin: 10px;


}

.contacts{
  border: 1px rgb(44, 15, 231) solid;
  border-radius: 20px;
  padding: 10px;
  max-width: 350px;
  max-height: 300px;
  margin: 10px;
  
  
}

.education{
  border: 1px rgb(236, 11, 165) solid;
  border-radius: 20px;
  padding: 10px;
  max-width: 350px;
  margin: 10px;
 


}

.english{
  border: 1px rgb(222, 135, 135) solid;
  border-radius: 20px;
  padding: 10px;
  max-width: 350px;
  margin: 10px;
 

}

.summaru{
  border: 1px rgb(222, 222, 135) solid;
  border-radius: 20px;
  padding: 10px;
  max-width: 350px;
  margin: 10px;
  

}

header{
display: flex;
justify-content: center;
}
.nameh1{
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.menu2 li{
  margin-right: 20px;
display: inline-block;
vertical-align: middle;
}
.menu2 a{
  vertical-align: middle;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  color: aqua;
}
.menu2 a:hover{
  color: rgb(251, 4, 4);
}
.nameh1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  vertical-align: middle;
  color: rgb(206, 153, 233);
}
.photo{
  width: 170px;
  height: 170px;
  border: 2px rgb(20, 171, 218) solid;
  border-radius: 300px;
}

footer{
  display: flex;

justify-self:space-around;
align-items: center;
min-height: 100px;
background-color: aqua;
}
.container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: right;

}



